In [1]:
import pandas as pd

In [6]:
population = pd.read_excel("/users/mrice/DSC680/Project 1/RuralAtlasData23.xlsx", sheet_name = "People")

In [7]:
population.head()

,FIPS,State,County,PopChangeRate1819,PopChangeRate1019,TotalPopEst2019,NetMigrationRate1019,NaturalChangeRate1019,Net_International_Migration_Rate_2010_2019,PopChangeRate0010,...,TotalPopEst2014,TotalPopEst2011,Net_International_Migration_2010_2019,NaturalChange1019,TotalPopEst2015,TotalPopEst2016,TotalPopEst2017,NetMigration1019,TotalPopEst2018,TotalPopEstBase2010
0,0,US,United States,0.475,6.116,328239523,2.485,3.631,2.485,9.709135,...,318301008,311556874,7685444.0,11232413.0,320635163,322941311,324985539,7685444.0,326687501,308758105
1,1000,AL,Alabama,0.317,2.461,4903185,1.059,1.402,0.809,7.479841,...,4841799,4799069,38731.0,67083.0,4852347,4863525,4874486,50665.0,4887681,4780125
2,1001,AL,Autauga,0.605,2.001,55869,0.686,1.315,-0.029,24.959355,...,54893,55227,-16.0,720.0,54864,55243,55390,376.0,55533,54597
3,1003,AL,Baldwin,2.469,21.911,223234,21.001,0.910,0.714,29.804508,...,199183,186558,1307.0,1667.0,202939,207601,212521,38455.0,217855,182265
4,1005,AL,Barbour,-0.748,-9.664,24686,-8.797,-0.867,0.161,-5.444590,...,26755,27341,44.0,-237.0,26283,25806,25157,-2404.0,24872,27455

In [10]:
population.columns

Index(['FIPS', 'State', 'County', 'PopChangeRate1819', 'PopChangeRate1019',
       'TotalPopEst2019', 'NetMigrationRate1019', 'NaturalChangeRate1019',
       'Net_International_Migration_Rate_2010_2019', 'PopChangeRate0010',
       'NetMigrationRate0010', 'NaturalChangeRate0010',
       'Immigration_Rate_2000_2010', 'PopDensity2010', 'Under18Pct2010',
       'Age65AndOlderPct2010', 'WhiteNonHispanicPct2010',
       'BlackNonHispanicPct2010', 'AsianNonHispanicPct2010',
       'NativeAmericanNonHispanicPct2010', 'HispanicPct2010',
       'MultipleRacePct2010', 'NonHispanicWhitePopChangeRate0010',
       'NonHispanicBlackPopChangeRate0010',
       'NonHispanicAsianPopChangeRate0010',
       'NonHispanicNativeAmericanPopChangeRate0010',
       'HispanicPopChangeRate0010', 'MultipleRacePopChangeRate0010',
       'WhiteNonHispanicNum2010', 'BlackNonHispanicNum2010',
       'AsianNonHispanicNum2010', 'NativeAmericanNonHispanicNum2010',
       'HispanicNum2010', 'MultipleRaceNum2010', 'ForeignBornPct',
       'ForeignBornEuropePct', 'ForeignBornMexPct', 'NonEnglishHHPct',
       'Ed1LessThanHSPct', 'Ed2HSDiplomaOnlyPct', 'Ed3SomeCollegePct',
       'Ed4AssocDegreePct', 'Ed5CollegePlusPct', 'AvgHHSize', 'FemaleHHPct',
       'HH65PlusAlonePct', 'OwnHomePct', 'ForeignBornNum', 'TotalPopACS',
       'ForeignBornAfricaPct', 'Ed3SomeCollegeNum', 'Ed2HSDiplomaOnlyNum',
       'Ed1LessThanHSNum', 'TotalPop25Plus', 'Ed5CollegePlusNum', 'TotalOccHU',
       'ForeignBornAsiaPct', 'Ed4AssocDegreeNum', 'ForeignBornEuropeNum',
       'NonEnglishHHNum', 'HH65PlusAloneNum', 'OwnHomeNum', 'FemaleHHNum',
       'TotalHH', 'ForeignBornCentralSouthAmPct',
       'ForeignBornCentralSouthAmNum', 'ForeignBornCaribPct',
       'ForeignBornCaribNum', 'ForeignBornAfricaNum', 'ForeignBornAsiaNum',
       'ForeignBornMexNum', 'LandAreaSQMiles2010', 'Age65AndOlderNum2010',
       'TotalPop2010', 'Under18Num2010',
       'Net_International_Migration_2000_2010', 'NaturalChangeNum0010',
       'NetMigrationNum0010', 'TotalPopEst2012', 'TotalPopEst2013',
       'TotalPopEst2010', 'TotalPopEst2014', 'TotalPopEst2011',
       'Net_International_Migration_2010_2019', 'NaturalChange1019',
       'TotalPopEst2015', 'TotalPopEst2016', 'TotalPopEst2017',
       'NetMigration1019', 'TotalPopEst2018', 'TotalPopEstBase2010'],
      dtype='object')

In [15]:
population = population[['State', 'County', 'TotalPopEst2019', 'PopDensity2010', 'Under18Pct2010', 'Ed1LessThanHSPct',
                        'Ed2HSDiplomaOnlyPct', 'Ed3SomeCollegePct', 'Ed1LessThanHSPct', 'Ed4AssocDegreePct', 'Ed5CollegePlusPct',
                       'AvgHHSize']]

In [16]:
population.head()

,State,County,TotalPopEst2019,PopDensity2010,Under18Pct2010,Ed1LessThanHSPct,Ed2HSDiplomaOnlyPct,Ed3SomeCollegePct,Ed1LessThanHSPct,Ed4AssocDegreePct,Ed5CollegePlusPct,AvgHHSize
0,US,United States,328239523,87.416139,24.026733,11.998918,26.956844,20.417131,11.998918,8.481566,32.145542,2.62
1,AL,Alabama,4903185,94.376646,23.692919,13.819301,30.800268,21.410850,13.819301,8.501248,25.468333,2.55
2,AL,Autauga,55869,91.802976,26.777959,11.483394,33.588460,19.950759,11.483394,8.405813,26.571574,2.56
3,AL,Baldwin,223234,114.647647,22.987408,9.193843,27.659617,21.836783,9.193843,9.447297,31.862460,2.59
4,AL,Barbour,24686,31.029196,21.906982,26.786907,35.604542,18.826542,26.786907,7.203295,11.578713,2.41

In [8]:
income = pd.read_excel("/users/mrice/DSC680/Project 1/RuralAtlasData23.xlsx", sheet_name = "Income")

In [9]:
income.head()

,FIPS,State,County,Median_HH_Inc_ACS,PerCapitaInc,Poverty_Rate_0_17_ACS,Poverty_Rate_ACS,Deep_Pov_All,Deep_Pov_Children,NumAll_inPOV_ACS,PCTPOV017,POV017,MedHHInc,POVALL,PCTPOVALL,Num_inPOV_0_17_ACS
0,0,US,United States,62843.0,34103.0,18.519621,13.422426,5.985652,8.155789,42510843.0,16.8,12000470.0,65712.0,39490096.0,12.3,13377778.0
1,1000,AL,Alabama,50536.0,27928.0,23.900209,16.742549,7.410636,11.152622,795989.0,21.9,233890.0,51771.0,747478.0,15.6,258068.0
2,1001,AL,Autauga,58731.0,29819.0,23.215238,15.185172,6.261607,9.592381,8340.0,15.9,2040.0,58233.0,6723.0,12.1,3047.0
3,1003,AL,Baldwin,58320.0,32626.0,13.364308,10.354073,4.046885,5.656490,21704.0,13.5,6323.0,59871.0,22360.0,10.1,6098.0
4,1005,AL,Barbour,32525.0,18473.0,50.142884,30.668689,15.042156,31.491713,6875.0,41.0,2050.0,35972.0,5909.0,27.1,2632.0

In [17]:
income.columns

Index(['FIPS', 'State', 'County', 'Median_HH_Inc_ACS', 'PerCapitaInc',
       'Poverty_Rate_0_17_ACS', 'Poverty_Rate_ACS', 'Deep_Pov_All',
       'Deep_Pov_Children', 'NumAll_inPOV_ACS', 'PCTPOV017', 'POV017',
       'MedHHInc', 'POVALL', 'PCTPOVALL', 'Num_inPOV_0_17_ACS'],
      dtype='object')

In [18]:
income.to_excel('income.xlsx')

In [19]:
population.to_excel('population.xlsx')

In [ ]:
import os

for f in os.listdir("/users/mrice/DSC680/Project 1"):
    print(f)

In [ ]:
import os

path = os.getcwd()

print(path)

In [ ]:
os.chdir('/users/mrice/DSC680/Project 1/')

print(os.getcwd())